<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.waken.dorm.dao.dorm.BedMapper">

    <select id="findPage" resultType="com.waken.dorm.common.view.dorm.DormStudentView"
            parameterType="com.waken.dorm.common.form.dorm.DormStudentForm">
        SELECT
        sb.id,
        sb.`name`,
        sb.`code`,
        sb.sex,
        sb.grade_id AS gradeName,
        sb.major_id AS majorName,
        sb.class_id AS className,
        d.`code` AS dormCode,
        db.`name` AS bedName
        FROM rm_student_basic sb
        LEFT JOIN rm_dorm_bed db ON db.subject_id = sb.id
        LEFT JOIN rm_dorm d ON d.id = db.dorm_id
        <where>
            AND sb.is_deleted = 0
            <if test="form.id != null and form.id != ''">
                and sb.id=#{form.id}
            </if>
            <if test="form.unDistribution == 0">
                and db.`name` IS NULL
            </if>
            <if test="form.unDistribution == 1">
                and db.`name` IS NOT NULL
            </if>
            <if test="form.keywords != null and form.keywords != ''">
                <bind name="form.keywords" value="'%' + form.keywords + '%'"/>
                AND (sb.`name` LIKE #{form.keywords}
                OR sb.`code` LIKE #{form.keywords}
                OR sb.grade_id LIKE #{form.keywords}
                OR sb.major_id LIKE #{form.keywords}
                OR sb.class_id LIKE #{form.keywords}
                OR d.`code` LIKE #{form.keywords}
                OR db.`name` LIKE #{form.keywords}
                )
            </if>
            <if test="form.startTime != null">
                AND sb.create_time &gt;= #{form.startTime,jdbcType=TIMESTAMP}
            </if>
            <if test="form.endTime != null">
                AND sb.create_time &lt;= #{form.endTime,jdbcType=TIMESTAMP}
            </if>
        </where>
        ORDER BY
        sb.last_modify_time DESC
    </select>
    <select id="selectBasicTreeList" resultType="com.waken.dorm.common.view.base.Tree">
        SELECT
        tree.id,
        tree.parentId,
        tree.`key`,
        tree.title,
        tree.isLeaf
        FROM (SELECT
                sc.id,
                'root' AS parentId,
                sc.id AS `key`,
                sc.`name` AS title,
                FALSE AS isLeaf,
                0 AS sort
                FROM rm_school_campus sc
                WHERE sc.is_deleted = 0
                UNION ALL
                SELECT
                b.id,
                b.campus_id AS parentId,
                b.id AS `key`,
                b.`name` AS title,
                FALSE AS isLeaf,
                0 AS sort
                FROM rm_building b
                WHERE b.is_deleted = 0
                UNION ALL
                SELECT
                bf.id,
                bf.building_id AS parentId,
                bf.id AS `key`,
                bf.`name` AS title,
                FALSE AS isLeaf,
                bf.`code` AS sort
                FROM rm_building_floor bf
                WHERE bf.is_deleted = 0
                AND bf.`code` > 0) AS tree
        ORDER BY tree.sort ASC
    </select>
    <select id="selectDormRoomTreeList" resultType="com.waken.dorm.common.view.base.Tree">
        SELECT
        d.id,
        d.floor_id AS parentId,
        d.id AS `key`,
        d.`code` AS title,
        TRUE AS isLeaf
        FROM rm_dorm d
        WHERE d.is_deleted = 0
        ORDER BY d.`code` ASC
    </select>
    <select id="selectBedTreeList" resultType="com.waken.dorm.common.view.base.Tree">
        SELECT
        db.id,
        db.dorm_id AS parentId,
        db.id AS `key`,
        db.`name` AS title,
        TRUE AS isLeaf
        FROM rm_dorm_bed db
        WHERE db.subject_id IS NULL
        ORDER BY db.`code` ASC
    </select>
</mapper>
