<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.waken.dorm.dao.dorm.DormMapper">

    <select id="findPage" parameterType="com.waken.dorm.common.form.dorm.DormForm"
            resultType="com.waken.dorm.common.view.dorm.DormView">
        SELECT
        d.id,
        d.`name`,
        d.`code`,
        sc.`name` AS campusName,
        b.`name` AS buildingName,
        bf.`name` AS floorName,
        d.dorm_sex AS dormSex,
        d.`status`,
        d.type,
        d.bed_num AS bedNum,
        d.create_time AS createTime,
        u.user_name AS createUserName,
        d.last_modify_time AS lastModifyTime,
        uu.user_name AS lastModifyUserName,
        d.memo
        FROM rm_dorm d
        LEFT JOIN rm_building_floor bf ON bf.id = d.floor_id
        LEFT JOIN rm_building b ON b.id = bf.building_id
        LEFT JOIN rm_school_campus sc ON sc.id = b.campus_id
        LEFT JOIN rm_user u ON u.user_id = d.create_user_id
        LEFT JOIN rm_user uu ON uu.user_id = d.last_modify_user_id
        <where>
            <if test="form.id != null and form.id != ''">
                and d.id=#{form.id}
            </if>
            <if test="form.campusId != null and form.campusId != ''">
                and b.campus_id=#{form.campusId}
            </if>
            <if test="form.buildingId != null and form.buildingId != ''">
                and bf.building_id=#{form.campusId}
            </if>
            <if test="form.floorId != null and form.floorId != ''">
                and d.floor_id=#{form.floorId}
            </if>
            <if test="form.keywords != null and form.keywords != ''">
                <bind name="form.keywords" value="'%' + form.keywords + '%'"/>
                AND (d.`name` LIKE #{form.keywords}
                OR b.`name` LIKE #{form.keywords}
                OR d.`code` LIKE #{form.keywords}
                OR bf.`name` LIKE #{form.keywords}
                )
            </if>
            <if test="form.dormSex != null">
                and d.dorm_sex=#{form.dormSex}
            </if>
            <if test="form.status != null">
                and d.`status`=#{form.status}
            </if>
            <if test="form.type != null">
                and d.type=#{form.type}
            </if>
            <if test="form.startTime != null">
                AND d.create_time &gt;= #{form.startTime,jdbcType=TIMESTAMP}
            </if>
            <if test="form.endTime != null">
                AND d.create_time &lt;= #{form.endTime,jdbcType=TIMESTAMP}
            </if>
        </where>
        ORDER BY
        d.last_modify_time DESC
    </select>
    <select id="queryAppDormView" parameterType="java.lang.String"
            resultType="com.waken.dorm.common.view.dorm.AppDormView">
        SELECT
        d.id,
        b.code AS buildingCode,
        bf.`name` AS floorName,
        d.code,
        d.type,
        d.memo
        FROM rm_dorm d
        LEFT JOIN rm_building b ON b.id = d.building_id
        LEFT JOIN rm_building_floor bf ON bf.id = d.floor_id
        WHERE 1=1
        AND dsr.student_id=#{studentId}
    </select>
</mapper>