<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.waken.dorm.dao.dorm.DormStudentRelMapper">
    <resultMap id="BaseResultMap" type="com.waken.dorm.common.entity.dorm.DormStudentRel">
        <id column="pk_dorm_student_id" property="pkDormStudentId" jdbcType="VARCHAR"/>
        <result column="dorm_id" property="dormId" jdbcType="VARCHAR"/>
        <result column="student_id" property="studentId" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
        <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP"/>
        <result column="last_modify_user_id" property="lastModifyUserId" jdbcType="VARCHAR"/>
        <result column="memo" property="memo" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        pk_dorm_student_id, dorm_id, student_id, status, create_time, create_user_id, last_modify_time,
        last_modify_user_id, memo
    </sql>
    <insert id="batchAddDormStudentRel" parameterType="java.util.List">
        INSERT INTO rm_dorm_student_rel
        (pk_dorm_student_id,
        dorm_id,
        student_id,
        status,
        create_time,
        create_user_id,
        last_modify_time,
        last_modify_user_id)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.pkDormStudentId},
            #{item.dormId},
            #{item.studentId},
            #{item.status},
            #{item.createTime},
            #{item.createUserId},
            #{item.lastModifyTime},
            #{item.lastModifyUserId})
        </foreach>
    </insert>
    <select id="listDormStudentRelView" parameterType="java.lang.String"
            resultType="com.waken.dorm.common.view.dorm.DormStudentRelView">
        SELECT
        sr.pk_dorm_student_id AS pkDormStudentId,
        s.pk_student_id AS studentId,
        s.student_name AS studentName,
        s.student_num AS studentNum
        FROM
        rm_student s
        INNER JOIN rm_dorm_student_rel sr ON sr.student_id = s.pk_student_id
        WHERE
        r.`status` = 1
        AND sr.dorm_id=#{dormId,jdbcType=VARCHAR}
        UNION
        SELECT
        '' AS pkDormStudentId,
        s.pk_student_id AS studentId,
        s.student_name AS studentName,
        s.student_num AS studentNum
        FROM
        rm_student s
        WHERE
        s.`status` = 1
        AND NOT EXISTS (
        SELECT
        *
        FROM
        rm_dorm_student_rel sr
        WHERE
        sr.student_id = s.pk_student_id
        AND sr.dorm_id=#{dormId,jdbcType=VARCHAR}
        )
    </select>
</mapper>