<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.waken.dorm.dao.dorm.DormBuildingMapper">
    <resultMap id="BaseResultMap" type="com.waken.dorm.common.entity.dorm.DormBuilding">
        <id column="pk_dorm_building_id" property="pkDormBuildingId" jdbcType="VARCHAR"/>
        <result column="dorm_building_type" property="dormBuildingType" jdbcType="INTEGER"/>
        <result column="dorm_building_num" property="dormBuildingNum" jdbcType="VARCHAR"/>
        <result column="dorm_building_levels" property="dormBuildingLevels" jdbcType="INTEGER"/>
        <result column="dorm_building_desc" property="dormBuildingDesc" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
        <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP"/>
        <result column="last_modify_user_id" property="lastModifyUserId" jdbcType="VARCHAR"/>
        <result column="memo" property="memo" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        pk_dorm_building_id, dorm_building_type, dorm_building_num, dorm_building_levels,
        dorm_building_desc, status, create_time, create_user_id, last_modify_time, last_modify_user_id,
        memo
    </sql>
    <select id="selectByIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from rm_dorm_building
        where pk_dorm_building_id in
        <foreach collection="Ids" item="dramaId" open="(" close=")" separator=",">
            #{dramaId}
        </foreach>
    </select>
    <select id="listDormBuildings" parameterType="com.waken.dorm.common.form.dorm.DormBuildingForm"
            resultType="com.waken.dorm.common.view.dorm.DormBuildingView">
        SELECT
        db.pk_dorm_building_id AS pkDormBuildingId,
        db.dorm_building_type AS dormBuildingType,
        db.dorm_building_num AS dormBuildingNum,
        db.dorm_building_levels AS dormBuildingLevels,
        db.dorm_building_desc AS dormBuildingDesc,
        db.`status`,
        db.create_time AS createTime,
        u.user_name AS createUserName,
        db.last_modify_time AS lastModifyTime,
        uu.user_name AS lastModifyUserName,
        db.memo
        FROM rm_dorm_building db
        LEFT JOIN rm_user u ON u.user_id = db.create_user_id
        LEFT JOIN rm_user uu ON uu.user_id = db.last_modify_user_id
        WHERE 1=1
        <if test="form.pkDormBuildingId != null and form.pkDormBuildingId != ''">
            and db.pk_dorm_building_id=#{form.pkDormBuildingId}
        </if>
        <if test="form.dormBuildingNum != null and form.dormBuildingNum != ''">
            and db.dorm_building_num like '%${form.dormBuildingNum}%'
        </if>
        <if test="form.dormBuildingType != null">
            and db.dorm_building_type=#{form.dormBuildingType}
        </if>
        <if test="form.dormBuildingLevels != null">
            and db.dorm_building_levels=#{form.dormBuildingLevels}
        </if>
        <if test="form.status != null">
            and db.status=#{status}
        </if>
        <if test="form.createUserName != null and form.createUserName != ''">
            and u.user_name like '%${form.createUserName}%'
        </if>
        <if test="form.lastModifyUserName != null and form.lastModifyUserName != ''">
            and uu.user_name like '%${form.lastModifyUserName}%'
        </if>
        <if test="form.startTime != null">
            AND db.create_time &gt;= #{form.startTime,jdbcType=TIMESTAMP}
        </if>
        <if test="form.endTime != null">
            AND db.create_time &lt;= #{form.endTime,jdbcType=TIMESTAMP}
        </if>
        ORDER BY
        db.last_modify_time DESC
    </select>
    <update id="batchUpdateStatus" parameterType="java.util.Map">
        <foreach collection="list" separator=";" item="ur">
            update rm_dorm_building set
            status = #{ur.status},
            last_modify_time = #{ur.lastModifyTime},
            last_modify_user_id = #{ur.lastModifyUserId}
            where pk_dorm_building_id = #{ur.pkId}
        </foreach>
    </update>
</mapper>