<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.waken.dorm.dao.dorm.DormScoreMapper">
    <select id="findPage" parameterType="com.waken.dorm.common.form.dorm.ListDormScoreForm"
            resultType="com.waken.dorm.common.view.dorm.DormScoreView">
        SELECT
        ds.id,
        ds.dorm_code AS dormCode,
        ds.culture_score AS cultureScore,
        ds.discipline_score AS disciplineScore,
        ds.bed_score AS bedScore,
        ds.desk_score AS deskScore,
        ds.balcony_score AS balconyScore,
        ds.toilet_score AS toiletScore,
        ds.ground_score AS groundScore,
        ds.door_window_score AS doorWindowScore,
        ds.metope_score AS metopeScore,
        ds.total_score AS totalScore,
        ds.`status`,
        ds.create_time AS createTime,
        u.user_name AS createUserName,
        ds.last_modify_time AS lastModifyTime,
        uu.user_name AS lastModifyUserName,
        ds.memo
        FROM rm_dorm_score ds
        LEFT JOIN rm_dorm d ON d.`code` = ds.dorm_code
        LEFT JOIN rm_dorm_bed db ON db.dorm_id = d.id
        LEFT JOIN rm_user u ON u.user_id = ds.create_user_id
        LEFT JOIN rm_user uu ON uu.user_id = ds.last_modify_user_id
        <where>
            AND ds.is_deleted = 0
            <if test="form.id != null and form.id != ''">
                and dv.id=#{form.id}
            </if>
            <if test="form.studentId != null and form.studentId != ''">
                and db.subject_id=#{form.studentId}
            </if>
            <if test="form.dormId != null and form.dormId != ''">
                and d.id=#{form.dormId}
            </if>
            <if test="form.dormCode != null and form.dormCode != ''">
                and ds.dorm_code=#{form.dormCode}
            </if>
            <if test="form.keywords != null and form.keywords != ''">
                <bind name="form.keywords" value="'%' + form.keywords + '%'"/>
                AND (ds.dorm_code LIKE #{form.keywords}
                OR ds.memo LIKE #{form.keywords}
                )
            </if>
            <if test="form.startTime != null">
                AND ds.create_time &gt;= #{form.startTime,jdbcType=TIMESTAMP}
            </if>
            <if test="form.endTime != null">
                AND ds.create_time &lt;= #{form.endTime,jdbcType=TIMESTAMP}
            </if>
        </where>
        ORDER BY
        ds.last_modify_time DESC
    </select>
</mapper>