<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.waken.dorm.dao.dorm.DormViolationMapper">
    <select id="findPage" parameterType="com.waken.dorm.common.form.dorm.DormViolationForm"
            resultType="com.waken.dorm.common.view.dorm.DormViolationView">
        SELECT
        dv.id,
        dv.dorm_code AS dormCode,
        sb.`name` AS studentName,
        dv.img_url AS imgUrl,
        dv.reason,
        dv.result,
        dv.`status`,
        dv.create_time AS createTime,
        u.user_name AS createUserName,
        dv.last_modify_time AS lastModifyTime,
        uu.user_name AS lastModifyUserName,
        dv.memo
        FROM rm_dorm_violation dv
        LEFT JOIN rm_student_basic sb ON sb.`code` = dv.student_code
        LEFT JOIN rm_user u ON u.user_id = dv.create_user_id
        LEFT JOIN rm_user uu ON uu.user_id = dv.last_modify_user_id
        <where>
            AND dv.is_deleted = 0
            <if test="form.id != null and form.id != ''">
                and dv.id=#{form.id}
            </if>
            <if test="form.studentId != null and form.studentId != ''">
                and sb.id=#{form.studentId}
            </if>
            <if test="form.keywords != null and form.keywords != ''">
                <bind name="form.keywords" value="'%' + form.keywords + '%'"/>
                AND (dv.dorm_code LIKE #{form.keywords}
                OR sb.`name` LIKE #{form.keywords}
                OR dv.reason LIKE #{form.keywords}
                OR dv.result LIKE #{form.keywords}
                OR dv.student_code LIKE #{form.keywords}
                )
            </if>
            <if test="form.startTime != null">
                AND dv.create_time &gt;= #{form.startTime,jdbcType=TIMESTAMP}
            </if>
            <if test="form.endTime != null">
                AND dv.create_time &lt;= #{form.endTime,jdbcType=TIMESTAMP}
            </if>
        </where>
        ORDER BY
        dv.last_modify_time DESC
    </select>
</mapper>