<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.waken.dorm.dao.dorm.DormRuleMapper">
    <select id="listDormRules" parameterType="com.waken.dorm.common.form.dorm.DormRuleForm"
            resultType="com.waken.dorm.common.view.dorm.DormRuleView">
        SELECT
        dr.id,
        dr.name,
        dr.rule_desc AS ruleDesc,
        dr.`status`,
        dr.create_time AS createTime,
        u.user_name AS createUserName,
        dr.last_modify_time AS lastModifyTime,
        uu.user_name AS lastModifyUserName,
        dr.memo
        FROM rm_dorm_rule dr
        LEFT JOIN rm_user u ON u.user_id = dr.create_user_id
        LEFT JOIN rm_user uu ON uu.user_id = dr.last_modify_user_id
        WHERE 1=1
        <if test="form.id != null and form.id != ''">
            and dr.id=#{form.id}
        </if>
        <if test="form.ruleName != null and form.ruleName != ''">
            and dr.name like '%${form.ruleName}%'
        </if>
        <if test="form.status != null">
            and dr.status=#{form.status}
        </if>
        <if test="form.createUserName != null and form.createUserName != ''">
            and u.user_name like '%${createUserName}%'
        </if>
        <if test="form.lastModifyUserName != null and form.lastModifyUserName != ''">
            and uu.user_name like '%${form.lastModifyUserName}%'
        </if>
        <if test="form.startTime != null">
            AND dr.create_time &gt;= #{form.startTime,jdbcType=TIMESTAMP}
        </if>
        <if test="form.endTime != null">
            AND dr.create_time &lt;= #{form.endTime,jdbcType=TIMESTAMP}
        </if>
        ORDER BY
        dr.last_modify_time DESC
    </select>
    <update id="batchUpdateStatus" parameterType="java.util.Map">
        <foreach collection="list" separator=";" item="ur">
            update rm_dorm_rule set
            status = #{ur.status},
            last_modify_time = #{ur.lastModifyTime},
            last_modify_user_id = #{ur.lastModifyUserId}
            where id = #{ur.pkId}
        </foreach>
    </update>
</mapper>