<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.waken.dorm.dao.role.RoleMapper">

    <select id="listAddedRoles" parameterType="com.waken.dorm.common.form.role.ListAddedRoleForm"
            resultType="com.waken.dorm.common.view.user.UserRoleRelView">
        SELECT
        p.pk_privilege_id AS pkUserRoleId,
        r.pk_role_id AS roleId,
        r.role_name AS roleName,
        r.role_desc AS roleDesc
        FROM
        rm_role r
        INNER JOIN rm_user_privilege p ON p.subject_id = r.pk_role_id
        WHERE
        r.`status` = 1
        AND r.pk_role_id
        IN(
        SELECT up.subject_id FROM rm_user_privilege up
        WHERE up.user_id=#{curUserId}
        AND up.subject_type = 3
        )
        <if test="userId != null and userId != ''">
            AND p.user_id=#{userId,jdbcType=VARCHAR}
        </if>
        UNION
        SELECT
        '' AS pkUserRoleId,
        r.pk_role_id AS roleId,
        r.role_name AS roleName,
        r.role_desc AS roleDesc
        FROM
        rm_role r
        WHERE
        r.`status` = 1
        AND r.pk_role_id
        IN(
        SELECT up.subject_id FROM rm_user_privilege up
        WHERE up.user_id=#{curUserId}
        AND up.subject_type = 3
        )
        AND NOT EXISTS (
        SELECT
        *
        FROM
        rm_user_privilege p
        WHERE
        p.subject_id = r.pk_role_id
        <if test="userId != null and userId != ''">
            AND p.user_id=#{userId,jdbcType=VARCHAR}
        </if>
        )
    </select>
    <select id="listSuperAdminRoles" parameterType="java.lang.String"
            resultType="com.waken.dorm.common.view.user.UserRoleRelView">
        SELECT
        p.pk_privilege_id AS pkUserRoleId,
        r.pk_role_id AS roleId,
        r.role_name AS roleName,
        r.role_desc AS roleDesc
        FROM
        rm_role r
        INNER JOIN rm_user_privilege p ON p.subject_id = r.pk_role_id
        WHERE
        p.subject_type = 3
        AND r.`status` = 1
        AND p.user_id=#{userId,jdbcType=VARCHAR}
        UNION
        SELECT
        '' AS pkUserRoleId,
        r.pk_role_id AS roleId,
        r.role_name AS roleName,
        r.role_desc AS roleDesc
        FROM
        rm_role r
        WHERE
        r.`status` = 1
        AND NOT EXISTS (
        SELECT
        *
        FROM
        rm_user_privilege p
        WHERE
        p.subject_type = 3
        AND p.subject_id = r.pk_role_id
        AND p.user_id=#{userId,jdbcType=VARCHAR}
        )
    </select>
    <select id="listUserRole" resultType="com.waken.dorm.common.view.role.UserRoleView">
        SELECT
        r.pk_role_id AS roleId,
        r.role_name AS roleName
        FROM rm_role r
        WHERE r.`status` = 1
    </select>
    <update id="batchUpdateStatus" parameterType="java.util.Map">
        <foreach collection="list" separator=";" item="ur">
            update rm_role set
            status = #{ur.status},
            last_modify_time = #{ur.lastModifyTime},
            last_modify_user_id = #{ur.lastModifyUserId}
            where pk_role_id = #{ur.pkId}
        </foreach>
    </update>
</mapper>