<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.waken.dorm.dao.basic.SysLogMapper">
    <select id="findPage" resultType="com.waken.dorm.common.view.log.SysLogView"
            parameterType="com.waken.dorm.common.form.base.BaseForm">
        SELECT
        L.id,
        u.user_name AS userName,
        L.operation_content AS operationContent,
        L.duration,
        L.method,
        L.params,
        L.ip,
        L.create_time AS createTime,
        L.location
        FROM rm_log L
        LEFT JOIN rm_user u ON u.user_id = L.user_id
        <where>
            <if test="form.id != null and form.id != ''">
                AND L.id=#{form.id,jdbcType=VARCHAR}
            </if>
            <if test="form.keywords != null">
                <bind name="form.keywords" value="'%' + form.keywords + '%'"/>
                AND (u.user_name LIKE #{form.keywords,jdbcType=VARCHAR}
                OR L.operation_content LIKE #{form.keywords,jdbcType=VARCHAR}
                OR L.method LIKE #{form.keywords,jdbcType=VARCHAR}
                OR L.params LIKE #{form.keywords,jdbcType=VARCHAR}
                OR L.ip LIKE #{form.keywords,jdbcType=VARCHAR}
                OR L.location LIKE #{form.keywords,jdbcType=VARCHAR}
                )
            </if>
            <if test="form.startTime != null">
                AND L.create_time &gt;= #{form.startTime,jdbcType=TIMESTAMP}
            </if>
            <if test="form.endTime != null">
                AND L.create_time &lt;= #{form.endTime,jdbcType=TIMESTAMP}
            </if>
        </where>
        ORDER BY L.create_time DESC
    </select>
</mapper>