<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.waken.dorm.dao.user.UserPrivilegeMapper">

    <!-- 查询用户的菜单 -->
    <select id="selectUserMenu" parameterType="java.lang.String"
            resultType="com.waken.dorm.common.view.resource.UserMenuView">
        SELECT
        DISTINCT
        menu.pkResourceId,
        menu.parentId,
        menu.resourceName,
        menu.routeName,
        menu.component,
        menu.resourceIcon,
        menu.resourceType,
        menu.resourceUrl,
        menu.sort,
        menu.isParent
        FROM
        (
        SELECT
        r.pk_resource_id AS pkResourceId,
        r.parent_id AS parentId,
        r.resource_name AS resourceName,
        r.route_name AS routeName,
        r.component,
        r.resource_icon AS resourceIcon,
        r.resource_type AS resourceType,
        r.resource_url AS resourceUrl,
        r.sort,
        r.is_parent AS isParent
        FROM rm_resource r
        LEFT JOIN rm_role_resource_rel rr ON rr.resource_id = r.pk_resource_id
        LEFT JOIN rm_user_privilege p ON p.subject_id = rr.role_id
        WHERE
        r.resource_type = 1
        AND r.`status` = 1
        <if test="userId != null and userId != ''">
            AND p.user_id=#{userId,jdbcType=VARCHAR}
        </if>
        UNION ALL
        SELECT
        r.pk_resource_id AS pkResourceId,
        r.parent_id AS parentId,
        r.resource_name AS resourceName,
        r.route_name AS routeName,
        r.component,
        r.resource_icon AS resourceIcon,
        r.resource_type AS resourceType,
        r.resource_url AS resourceUrl,
        r.sort,
        r.is_parent AS isParent
        FROM rm_resource r
        LEFT JOIN rm_user_privilege p ON p.subject_id = r.pk_resource_id
        WHERE
        r.resource_type = 1
        AND r.`status` = 1
        <if test="userId != null and userId != ''">
            AND p.user_id=#{userId,jdbcType=VARCHAR}
        </if>
        ) AS menu
        ORDER BY menu.sort ASC
    </select>

    <!-- 查询用户的权限信息 -->
    <select id="selectUserPerms" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT
        DISTINCT
        per.perms
        FROM
        (
        SELECT
        r.perms
        FROM rm_resource r
        LEFT JOIN rm_role_resource_rel rr ON rr.resource_id = r.pk_resource_id
        LEFT JOIN rm_user_privilege p ON p.subject_id = rr.role_id
        WHERE
        r.`status` = 1
        AND r.resource_type = 2
        <if test="userId != null and userId != ''">
            AND p.user_id=#{userId,jdbcType=VARCHAR}
        </if>
        UNION ALL
        SELECT
        r.perms
        FROM rm_resource r
        LEFT JOIN rm_user_privilege p ON p.subject_id = r.pk_resource_id
        WHERE
        r.`status` = 1
        AND r.resource_type = 2
        <if test="userId != null and userId != ''">
            AND p.user_id=#{userId,jdbcType=VARCHAR}
        </if>
        ) AS per
    </select>

    <!-- 查询用户拥有的角色 -->
    <select id="selectUserRoles" resultType="java.lang.String" parameterType="java.lang.String">
        SELECT
        DISTINCT
        r.role_name AS roleName
        FROM rm_role r
        LEFT JOIN rm_user_privilege p ON p.subject_id = r.pk_role_id
        WHERE r.`status` = 1
        AND p.subject_type = 3
        <if test="userId != null and userId != ''">
            AND p.user_id=#{userId,jdbcType=VARCHAR}
        </if>
    </select>

    <!-- 查询用户拥有的资源-->
    <select id="selectUserResources" parameterType="java.lang.String"
            resultType="com.waken.dorm.common.view.resource.UserMenuView">
        SELECT
        DISTINCT
        menu.pkResourceId,
        menu.parentId,
        menu.resourceName,
        menu.routeName,
        menu.component,
        menu.resourceIcon,
        menu.resourceType,
        menu.resourceUrl,
        menu.sort,
        menu.isParent
        FROM
        (
        SELECT
        r.pk_resource_id AS pkResourceId,
        r.parent_id AS parentId,
        r.resource_name AS resourceName,
        r.route_name AS routeName,
        r.component,
        r.resource_icon AS resourceIcon,
        r.resource_type AS resourceType,
        r.resource_url AS resourceUrl,
        r.sort,
        r.is_parent AS isParent
        FROM rm_resource r
        LEFT JOIN rm_role_resource_rel rr ON rr.resource_id = r.pk_resource_id
        LEFT JOIN rm_user_privilege p ON p.subject_id = rr.role_id
        WHERE
        r.`status` = 1
        <if test="userId != null and userId != ''">
            AND p.user_id=#{userId,jdbcType=VARCHAR}
        </if>
        UNION ALL
        SELECT
        r.pk_resource_id AS pkResourceId,
        r.parent_id AS parentId,
        r.resource_name AS resourceName,
        r.route_name AS routeName,
        r.component,
        r.resource_icon AS resourceIcon,
        r.resource_type AS resourceType,
        r.resource_url AS resourceUrl,
        r.sort,
        r.is_parent AS isParent
        FROM rm_resource r
        LEFT JOIN rm_user_privilege p ON p.subject_id = r.pk_resource_id
        WHERE
        r.`status` = 1
        <if test="userId != null and userId != ''">
            AND p.user_id=#{userId,jdbcType=VARCHAR}
        </if>
        ) AS menu
        ORDER BY menu.sort ASC
    </select>

    <!-- 查询角色拥有的资源 -->
    <select id="selectRoleResources" parameterType="java.lang.String"
            resultType="com.waken.dorm.common.view.resource.UserMenuView">
        SELECT
        DISTINCT
        r.pk_resource_id AS pkResourceId,
        r.parent_id AS parentId,
        r.resource_name AS resourceName,
        r.route_name AS routeName,
        r.component,
        r.resource_icon AS resourceIcon,
        r.resource_type AS resourceType,
        r.resource_url AS resourceUrl,
        r.sort,
        r.is_parent AS isParent
        FROM rm_resource r
        LEFT JOIN rm_role_resource_rel rr ON rr.resource_id = r.pk_resource_id
        WHERE
        r.`status` = 1
        <if test="roleId != null and roleId != ''">
            AND rr.role_id=#{roleId,jdbcType=VARCHAR}
        </if>
    </select>

    <!-- 通过批量资源查询 -->
    <select id="selectByResources" resultType="com.waken.dorm.common.view.user.UserRoleResource">
        SELECT
        DISTINCT
        r.resource_name AS resourceName,
        u.user_name AS userName
        FROM rm_user_privilege p
        LEFT JOIN rm_user u on p.user_id = u.user_id
        LEFT JOIN rm_resource r on p.subject_id = r.pk_resource_id
        where p.subject_id in
        <foreach collection="Ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        AND u.`status` = 1
        AND r.`status` = 1
        AND p.subject_type = 1
        OR p.subject_type = 2
    </select>

    <!-- 通过批量角色id查询 -->
    <select id="selectByRoles" resultType="com.waken.dorm.common.view.user.UserRoleResource">
        SELECT
        DISTINCT
        r.role_name AS roleName,
        u.user_name AS userName
        FROM rm_user_privilege p
        LEFT JOIN rm_user u on p.user_id = u.user_id
        LEFT JOIN rm_role r on p.subject_id = r.pk_role_id
        where p.subject_id in
        <foreach collection="Ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        AND u.`status` = 1
        AND r.`status` = 1
        AND p.subject_type = 3
    </select>

    <!-- 通过批量用户id查询 -->
    <select id="selectByUsers" resultType="com.waken.dorm.common.view.user.UserRoleResource">
        u.user_name AS userName,
        r.role_name AS roleName
        FROM rm_user_privilege p
        LEFT JOIN rm_role r ON r.pk_role_id = p.subject_id
        LEFT JOIN rm_user u ON u.user_id = p.user_id
        where p.user_id in
        <foreach collection="Ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
        AND p.subject_type = 3
        AND r.`status` = 1
        AND u.`status` = 1
    </select>

    <!-- 通过批量用户id批量删除 -->
    <delete id="deleteByUsers">
        DELETE
        FROM rm_user_privilege
        where user_id in
        <foreach collection="Ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <insert id="batchAddUserRoleRel" parameterType="java.util.List">
        INSERT INTO rm_user_privilege
        (pk_privilege_id,
        user_id,
        subject_id,
        subject_type,
        create_time,
        create_user_id)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.pkPrivilegeId},
            #{item.userId},
            #{item.subjectId},
            #{item.subjectType},
            #{item.createTime},
            #{item.createUserId})
        </foreach>
    </insert>

    <insert id="batchAddUserResources" parameterType="java.util.List">
        INSERT INTO rm_user_privilege
        (pk_privilege_id,
        user_id,
        subject_id,
        subject_type,
        create_time,
        create_user_id)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.pkPrivilegeId},
            #{item.userId},
            #{item.subjectId},
            #{item.subjectType},
            #{item.createTime},
            #{item.createUserId})
        </foreach>
    </insert>
</mapper>
