<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.waken.dorm.dao.student.StudentMapper">
    <resultMap id="BaseResultMap" type="com.waken.dorm.common.entity.student.Student">
        <id column="pk_student_id" property="pkStudentId" jdbcType="VARCHAR"/>
        <result column="student_name" property="studentName" jdbcType="VARCHAR"/>
        <result column="student_num" property="studentNum" jdbcType="INTEGER"/>
        <result column="password" property="password" jdbcType="VARCHAR"/>
        <result column="mobile" property="mobile" jdbcType="VARCHAR"/>
        <result column="gender" property="gender" jdbcType="INTEGER"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="img_url" property="imgUrl" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
        <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP"/>
        <result column="last_modify_user_id" property="lastModifyUserId" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        pk_student_id, student_name, student_num, password, mobile, gender, email,
        img_url, status, create_time, create_user_id, last_modify_time, last_modify_user_id
    </sql>
    <select id="studentLogin" resultType="com.waken.dorm.common.entity.student.StudentInfo"
            parameterType="com.waken.dorm.common.entity.student.Student">
        SELECT
        s.pk_student_id AS studentId,
        s.student_name AS studentName,
        s.student_num AS studentNum,
        s.mobile AS mobile,
        s.gender AS gender,
        s.email AS email,
        s.img_url AS imgUrl,
        s.create_time AS createTime
        FROM rm_student s
        WhERE
        s.`status` = 1
        <if test="studentNum != null">
            AND s.student_num=#{studentNum,jdbcType=INTEGER}
        </if>
        <if test="password != null and password != ''">
            AND s.password=#{password,jdbcType=VARCHAR}
        </if>
    </select>
    <insert id="batchAddStudent" parameterType="java.util.List">
        insert into rm_student
        (pk_student_id,
        student_name,
        student_num,
        password,
        mobile,
        gender,
        email,
        img_url,
        status,
        create_user_id,
        create_time,
        last_modify_user_id,
        last_modify_time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.pkStudentId},
            #{item.studentName},
            #{item.studentNum},
            #{item.password},
            #{item.mobile},
            #{item.gender},
            #{item.email},
            #{item.imgUrl},
            #{item.status},
            #{item.createUserId},
            #{item.createTime},
            #{item.lastModifyUserId},
            #{item.lastModifyTime})
        </foreach>
    </insert>
    <select id="selectByIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from rm_student
        where pk_student_id in
        <foreach collection="Ids" item="dramaId" open="(" close=")" separator=",">
            #{dramaId}
        </foreach>
    </select>
    <select id="listStudents" parameterType="com.waken.dorm.common.form.student.StudentForm"
            resultType="com.waken.dorm.common.view.student.StudentView">
        SELECT
        s.pk_student_id AS pkStudentId,
        s.student_name AS studentName,
        s.student_num AS studentNum,
        db.dorm_building_num AS dormBuildingNum,
        d.dorm_num AS dormNum,
        s.mobile,
        s.gender,
        s.email,
        s.`status`,
        s.create_time AS createTime,
        uu.user_name AS lastModifyUserName,
        s.last_modify_time AS lastModifyTime,
        u.user_name AS createUserName
        FROM rm_student s
        LEFT JOIN rm_dorm_student_rel drs ON drs.student_id = s.pk_student_id
        LEFT JOIN rm_dorm d ON d.pk_dorm_id = drs.dorm_id
        LEFT JOIN rm_dorm_building db ON db.pk_dorm_building_id = d.dorm_building_id
        LEFT JOIN rm_user u ON u.user_id = s.create_user_id
        LEFT JOIN rm_user uu ON uu.user_id = s.last_modify_user_id
        WHERE 1=1
        <if test="form.pkStudentId != null and form.pkStudentId != ''">
            and s.pk_student_id=#{pkStudentId}
        </if>
        <if test="form.studentName != null and form.studentName != ''">
            and s.student_name like '%${form.studentName}%'
        </if>
        <if test="form.studentNum != null">
            and s.student_num=#{form.studentNum}
        </if>
        <if test="form.dormNum != null and form.dormNum != ''">
            and d.dorm_num like '%${form.dormNum}%'
        </if>
        <if test="form.dormBuildingNum != null and form.dormBuildingNum != ''">
            and db.dorm_building_num like '%${form.dormBuildingNum}%'
        </if>
        <if test="form.gender != null">
            and s.gender=#{form.gender}
        </if>
        <if test="form.status != null">
            and s.status=#{form.status}
        </if>
        <if test="form.createUserName != null and form.createUserName != ''">
            and u.user_name like '%${form.createUserName}%'
        </if>
        <if test="form.lastModifyUserName != null and form.lastModifyUserName != ''">
            and uu.user_name like '%${form.lastModifyUserName}%'
        </if>
        <if test="form.startTime != null">
            AND s.create_time &gt;= #{form.startTime,jdbcType=TIMESTAMP}
        </if>
        <if test="form.endTime != null">
            AND s.create_time &lt;= #{form.endTime,jdbcType=TIMESTAMP}
        </if>
        ORDER BY
        s.last_modify_time DESC
    </select>
    <update id="batchUpdateStatus" parameterType="java.util.Map">
        <foreach collection="list" separator=";" item="ur">
            update rm_student set
            status = #{ur.status},
            last_modify_time = #{ur.lastModifyTime},
            last_modify_user_id = #{ur.lastModifyUserId}
            where pk_student_id = #{ur.pkId}
        </foreach>
    </update>
</mapper>