<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.waken.dorm.dao.dict.DictMapper">
    <resultMap id="BaseResultMap" type="com.waken.dorm.common.entity.dict.Dict">
        <id column="pk_dict_id" property="pkDictId" jdbcType="VARCHAR"/>
        <result column="dict_key" property="dictKey" jdbcType="VARCHAR"/>
        <result column="dict_value" property="dictValue" jdbcType="VARCHAR"/>
        <result column="column_name" property="columnName" jdbcType="VARCHAR"/>
        <result column="column_desc" property="columnDesc" jdbcType="VARCHAR"/>
        <result column="table_name" property="tableName" jdbcType="VARCHAR"/>
        <result column="table_desc" property="tableDesc" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="create_user_id" property="createUserId" jdbcType="VARCHAR"/>
        <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP"/>
        <result column="last_modify_user_id" property="lastModifyUserId" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
        pk_dict_id, dict_key, dict_value, column_name, column_desc, table_name, table_desc,
        status, create_time, create_user_id, last_modify_time, last_modify_user_id
    </sql>
    <update id="batchUpdateStatus" parameterType="java.util.Map">
        <foreach collection="list" separator=";" item="ur">
            update rm_dict set
            status = #{ur.status},
            last_modify_time = #{ur.lastModifyTime},
            last_modify_user_id = #{ur.lastModifyUserId}
            where pk_dict_id = #{ur.pkId}
        </foreach>
    </update>
    <select id="selectByIds" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from rm_dict
        where pk_dict_id in
        <foreach collection="Ids" item="dramaId" open="(" close=")" separator=",">
            #{dramaId}
        </foreach>
    </select>
    <select id="listDicts" parameterType="com.waken.dorm.common.form.dict.DictForm"
            resultType="com.waken.dorm.common.view.dict.DictView">
        SELECT
        d.pk_dict_id AS pkDictId,
        d.dict_key AS dictKey,
        d.dict_value AS dictValue,
        d.column_name AS columnName,
        d.column_desc AS columnDesc,
        d.table_name AS tableName,
        d.table_desc AS tableDesc,
        d.`status`,
        d.create_time AS createTime,
        u.user_name AS createUserName,
        d.last_modify_time AS lastModifyTime,
        uu.user_name AS lastModifyUserName
        FROM rm_dict d
        LEFT JOIN rm_user u ON u.user_id = d.create_user_id
        LEFT JOIN rm_user uu ON uu.user_id = d.last_modify_user_id
        WHERE 1=1
        <if test="form.pkDictId != null and form.pkDictId != ''">
            and d.pk_dict_id=#{form.pkDictId}
        </if>
        <if test="form.dictKey != null and form.dictKey != ''">
            and d.dict_key like '%${form.dictKey}%'
        </if>
        <if test="form.dictValue != null and form.dictValue != ''">
            and d.dict_value like '%${form.dictValue}%'
        </if>
        <if test="form.columnName != null and form.columnName != ''">
            and d.column_name like '%${form.columnName}%'
        </if>
        <if test="form.columnDesc != null and form.columnDesc != ''">
            and d.column_desc like '%${form.columnDesc}%'
        </if>
        <if test="form.tableName != null and form.tableName != ''">
            and d.table_name like '%${form.tableName}%'
        </if>
        <if test="form.tableDesc != null and form.tableDesc != ''">
            and d.table_desc like '%${form.tableDesc}%'
        </if>
        <if test="form.status != null">
            and d.status=#{form.status}
        </if>
        <if test="form.createUserName != null and form.createUserName != ''">
            and u.user_name like '%${form.createUserName}%'
        </if>
        <if test="form.lastModifyUserName != null and form.lastModifyUserName != ''">
            and uu.user_name like '%${form.lastModifyUserName}%'
        </if>
        <if test="form.startTime != null">
            AND d.create_time &gt;= #{form.startTime,jdbcType=TIMESTAMP}
        </if>
        <if test="form.endTime != null">
            AND d.create_time &lt;= #{form.endTime,jdbcType=TIMESTAMP}
        </if>
        ORDER BY
        d.last_modify_time DESC
    </select>
</mapper>