<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.waken.dorm.dao.resource.ResourceMapper" >
  <resultMap id="BaseResultMap" type="com.waken.dorm.common.entity.resource.Resource" >
    <id column="pk_resource_id" property="pkResourceId" jdbcType="VARCHAR" />
    <result column="resource_name" property="resourceName" jdbcType="VARCHAR" />
    <result column="resource_type" property="resourceType" jdbcType="INTEGER" />
    <result column="resource_url" property="resourceUrl" jdbcType="VARCHAR" />
    <result column="resource_no" property="resourceNo" jdbcType="INTEGER" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="is_parent" property="isParent" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user_id" property="createUserId" jdbcType="VARCHAR" />
    <result column="last_modify_time" property="lastModifyTime" jdbcType="TIMESTAMP" />
    <result column="last_modify_user_id" property="lastModifyUserId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    pk_resource_id, resource_name, resource_type, resource_url, resource_no, parent_id, 
    status, is_parent, create_time, create_user_id, last_modify_time, last_modify_user_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.waken.dorm.common.entity.resource.ResourceExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from rm_resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from rm_resource
    where pk_resource_id = #{pkResourceId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from rm_resource
    where pk_resource_id = #{pkResourceId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.waken.dorm.common.entity.resource.ResourceExample" >
    delete from rm_resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.waken.dorm.common.entity.resource.Resource" >
    insert into rm_resource (pk_resource_id, resource_name, resource_type, 
      resource_url, resource_no, parent_id, 
      status, is_parent, create_time, 
      create_user_id, last_modify_time, last_modify_user_id
      )
    values (#{pkResourceId,jdbcType=VARCHAR}, #{resourceName,jdbcType=VARCHAR}, #{resourceType,jdbcType=INTEGER}, 
      #{resourceUrl,jdbcType=VARCHAR}, #{resourceNo,jdbcType=INTEGER}, #{parentId,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{isParent,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUserId,jdbcType=VARCHAR}, #{lastModifyTime,jdbcType=TIMESTAMP}, #{lastModifyUserId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.waken.dorm.common.entity.resource.Resource" >
    insert into rm_resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pkResourceId != null" >
        pk_resource_id,
      </if>
      <if test="resourceName != null" >
        resource_name,
      </if>
      <if test="resourceType != null" >
        resource_type,
      </if>
      <if test="resourceUrl != null" >
        resource_url,
      </if>
      <if test="resourceNo != null" >
        resource_no,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="isParent != null" >
        is_parent,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="lastModifyTime != null" >
        last_modify_time,
      </if>
      <if test="lastModifyUserId != null" >
        last_modify_user_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pkResourceId != null" >
        #{pkResourceId,jdbcType=VARCHAR},
      </if>
      <if test="resourceName != null" >
        #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="resourceType != null" >
        #{resourceType,jdbcType=INTEGER},
      </if>
      <if test="resourceUrl != null" >
        #{resourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="resourceNo != null" >
        #{resourceNo,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isParent != null" >
        #{isParent,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null" >
        #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyUserId != null" >
        #{lastModifyUserId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.waken.dorm.common.entity.resource.ResourceExample" resultType="java.lang.Integer" >
    select count(*) from rm_resource
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update rm_resource
    <set >
      <if test="record.pkResourceId != null" >
        pk_resource_id = #{record.pkResourceId,jdbcType=VARCHAR},
      </if>
      <if test="record.resourceName != null" >
        resource_name = #{record.resourceName,jdbcType=VARCHAR},
      </if>
      <if test="record.resourceType != null" >
        resource_type = #{record.resourceType,jdbcType=INTEGER},
      </if>
      <if test="record.resourceUrl != null" >
        resource_url = #{record.resourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.resourceNo != null" >
        resource_no = #{record.resourceNo,jdbcType=INTEGER},
      </if>
      <if test="record.parentId != null" >
        parent_id = #{record.parentId,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.isParent != null" >
        is_parent = #{record.isParent,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUserId != null" >
        create_user_id = #{record.createUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.lastModifyTime != null" >
        last_modify_time = #{record.lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastModifyUserId != null" >
        last_modify_user_id = #{record.lastModifyUserId,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update rm_resource
    set pk_resource_id = #{record.pkResourceId,jdbcType=VARCHAR},
      resource_name = #{record.resourceName,jdbcType=VARCHAR},
      resource_type = #{record.resourceType,jdbcType=INTEGER},
      resource_url = #{record.resourceUrl,jdbcType=VARCHAR},
      resource_no = #{record.resourceNo,jdbcType=INTEGER},
      parent_id = #{record.parentId,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      is_parent = #{record.isParent,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user_id = #{record.createUserId,jdbcType=VARCHAR},
      last_modify_time = #{record.lastModifyTime,jdbcType=TIMESTAMP},
      last_modify_user_id = #{record.lastModifyUserId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.waken.dorm.common.entity.resource.Resource" >
    update rm_resource
    <set >
      <if test="resourceName != null" >
        resource_name = #{resourceName,jdbcType=VARCHAR},
      </if>
      <if test="resourceType != null" >
        resource_type = #{resourceType,jdbcType=INTEGER},
      </if>
      <if test="resourceUrl != null" >
        resource_url = #{resourceUrl,jdbcType=VARCHAR},
      </if>
      <if test="resourceNo != null" >
        resource_no = #{resourceNo,jdbcType=INTEGER},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isParent != null" >
        is_parent = #{isParent,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId,jdbcType=VARCHAR},
      </if>
      <if test="lastModifyTime != null" >
        last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifyUserId != null" >
        last_modify_user_id = #{lastModifyUserId,jdbcType=VARCHAR},
      </if>
    </set>
    where pk_resource_id = #{pkResourceId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.waken.dorm.common.entity.resource.Resource" >
    update rm_resource
    set resource_name = #{resourceName,jdbcType=VARCHAR},
      resource_type = #{resourceType,jdbcType=INTEGER},
      resource_url = #{resourceUrl,jdbcType=VARCHAR},
      resource_no = #{resourceNo,jdbcType=INTEGER},
      parent_id = #{parentId,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      is_parent = #{isParent,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_id = #{createUserId,jdbcType=VARCHAR},
      last_modify_time = #{lastModifyTime,jdbcType=TIMESTAMP},
      last_modify_user_id = #{lastModifyUserId,jdbcType=VARCHAR}
    where pk_resource_id = #{pkResourceId,jdbcType=VARCHAR}
  </update>
  <select id="selectByIds" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from rm_resource
    where pk_resource_id in
    <foreach collection="Ids" item="dramaId" open="(" close=")" separator=",">
      #{dramaId}
    </foreach>
  </select>
  <select id="listAllResources" resultType="com.waken.dorm.common.view.resource.ResourceMenuView" >
    SELECT
    rsc.pk_resource_id AS pkResourceId,
    rsc.resource_name AS resourceName,
    rsc.resource_type AS resourceType,
    rsc.resource_url AS resourceUrl,
    rsc.resource_no AS resourceNo,
    rsc.parent_id AS parentId,
    rsc.is_parent AS isParent
    FROM rm_resource rsc
    WHERE rsc.`status` = 1
    ORDER BY resource_no ASC
  </select>
  <select id="listAllResourcesByMenuForm" parameterType="com.waken.dorm.common.form.resource.ResourceMenuForm" resultType="com.waken.dorm.common.view.resource.ResourceMenuView">
    SELECT
      rsc.pk_resource_id AS pkResourceId,
      rsc.resource_name AS resourceName,
      rsc.resource_type AS resourceType,
      rsc.resource_url AS resourceUrl,
      rsc.resource_no AS resourceNo,
      rsc.parent_id AS parentId,
      rsc.is_parent AS isParent
    FROM rm_resource rsc
    LEFT JOIN rm_role_resource_rel rrr ON rrr.resource_id = rsc.pk_resource_id
    LEFT JOIN rm_role r ON r.pk_role_id = rrr.role_id
    LEFT JOIN rm_user_role_rel urr ON urr.role_id = r.pk_role_id
    LEFT JOIN rm_user u ON u.user_id = urr.user_id
    WHERE
    1 = 1
    <if test="userId != null and userId != ''">
      AND u.user_id=#{userId,jdbcType=VARCHAR}
    </if>
    <if test="pkResourceId != null and pkResourceId != ''">
      AND rsc.pk_resource_id=#{pkResourceId,jdbcType=VARCHAR}
    </if>
    <if test="parentId != null and parentId != ''">
      AND rsc.parent_id=#{parentId,jdbcType=VARCHAR}
    </if>
    <if test="roleId != null and roleId != ''">
      AND rrr.role_id=#{roleId,jdbcType=VARCHAR}
    </if>
    <if test="resourceType != null">
      AND rsc.resource_type=#{resourceType,jdbcType=INTEGER}
    </if>
    <if test="status != null">
      AND rsc.status=#{status,jdbcType=INTEGER}
    </if>
    ORDER BY rsc.resource_no ASC
  </select>
  <select id="queryResourceByPkId" parameterType="java.lang.String" resultType="com.waken.dorm.common.view.resource.ResourceView">
    SELECT
    r.pk_resource_id AS pkResourceId,
    r.resource_name AS resourceName,
    r.resource_url AS resourceUrl,
    r.resource_no AS resourceNo
    FROM rm_resource r
    WHERE 1=1
    AND r.pk_resource_id=#{pkResourceId}
  </select>
  <update id="batchUpdateStatus" parameterType="java.util.Map">
    <foreach collection="list" separator=";" item="ur">
      update rm_resource set
      status = #{ur.status},
      last_modify_time = #{ur.lastModifyTime},
      last_modify_user_id = #{ur.lastModifyUserId}
      where pk_resource_id = #{ur.pkId}
    </foreach>
  </update>
</mapper>