<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.waken.dorm.dao.resource.ResourceMapper">
    <select id="selectResourceView" parameterType="java.lang.Integer" resultType="com.waken.dorm.common.view.resource.ResourceView">
        SELECT
        r.pk_resource_id AS pkResourceId,
        r.parent_id AS parentId,
        rr.resource_name AS parentName,
        r.resource_name AS resourceName,
        r.resource_icon AS resourceIcon,
        r.resource_type AS resourceType,
        r.resource_url AS resourceUrl,
        r.perms,
        r.sort,
        r.`status`,
        r.is_parent AS isParent
        FROM rm_resource r
        LEFT JOIN rm_resource rr ON rr.pk_resource_id = r.parent_id
        WHERE 1=1
        <if test="status != null">
            AND r.status=#{status,jdbcType=INTEGER}
        </if>
        ORDER BY r.sort ASC
    </select>
    <update id="batchUpdateStatus" parameterType="java.util.Map">
        <foreach collection="list" separator=";" item="ur">
            update rm_resource set
            status = #{ur.status},
            last_modify_time = #{ur.lastModifyTime},
            last_modify_user_id = #{ur.lastModifyUserId}
            where pk_resource_id = #{ur.pkId}
        </foreach>
    </update>
</mapper>